form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}

mat-form-field {
  width: 100%;
}

.custom-icon {
  font-size: 20px;
  margin-left: 2px;
  background-color: transparent;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

button {
  background-color: transparent;
  border: 0;
}
