
.chat {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 0px;
  justify-content:space-around;
}

.chat-logout-button {
  align-self: flex-end;
  margin-bottom: 7px;
}

