.chat-messages {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  width: 60vw;
}

.messages {
  height: 60vh;
  overflow-y: scroll;
  text-align: left;
  padding: 20px;
}

.right {
  align-self: flex-end;
  text-align: right;
}

p {
  margin: 10px;
  font-size: 15px;
}

h3 {
  font-size: 20px;
}
