.chat-messages {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  width: 60vw;
}

.messages {
  flex-direction: column; 
  align-items: flex-start;
  height: 60vh;
  overflow-y: scroll;
  text-align: left;
  padding: 20px;
}

.right {
  align-self: flex-end;
  text-align: right;
}

.message-image {
  max-width: 100px;
  height: auto;
  margin-top: 5px;
  /*float: right; /* Floats the image to the right */
  margin-left: 85%;
}
.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  max-width: 60%; 
}

.message-container.left {
  align-items: flex-start; 
}

.message-container.right {
  align-items: flex-end;
  text-align: right; 
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: inherit; 
  background-color: #f0f0f0; 
  padding: 8px;
  border-radius: 8px;
}

p {
  margin: 10px;
  font-size: 15px;
}

h3 {
  font-size: 20px;
}
