<div>
  <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <div>
        <mat-form-field>
          <mat-label>Nom d'usager</mat-label>
          <input
            matInput
            [class.green-border]="loginSuccess"
            (blur)="verifyName()"
            (focus)="resetName()"
            name="username"
            type="text"
            formControlName="username"
          />
        </mat-form-field>
        @if (checkName) {
        <mat-error>nom requis</mat-error>
        }
      </div>
      <div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            [class.green-border]="loginSuccess"
            (blur)="verifyPassWord()"
            (focus)="resetPass()"
            name="password"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        @if(checkPassWord) {
        <mat-error>mot de passe requis</mat-error>
        }
      </div>
    </div>
    <div>
      <button mat-flat-button type="submit" [disabled]="loginForm.invalid">
        Connexion
      </button>
    </div>
  </form>
  @if(loginSuccess) {
    <div class="success-message">
      Connexion réussie!
    </div>
  }@else if (loginError) {
    <div class="error-message">
      {{ loginError }}
    </div>
  }
</div>
