<div>
  <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <div>
        <label
          >Nom d'usager:
          <input (blur)="verifyName()" (focus)="resetName()" name="username" type="text" formControlName="username" />
        </label>
      </div>
      <div>
        @if (checkName) {
        <p>nom requis</p>}
      </div>
      <div>
        <label
          >Mot de passe:
          <input (blur)="verifyPassWord()" (focus)="resetPass()" name="password" type="password" formControlName="password"
        /></label>
      </div>
      <div> 
        @if(checkPassWord) {
          <p>mot de passe requis</p>
        }
      </div>
    </div>
    <div><button type="submit" [disabled]="loginForm.invalid">Connexion</button></div>
  </form>
</div>
